{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Make a reservation</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
          {% csrf_token %}
          <form method="POST" id="form">
            <p>
              <label for="name">Name:</label>
              <input type="text" placeholder="Your Name" maxlength="200" required="" id="name"/>
            </p>
            <p>
              <label for="no_of_guests">Number of guests:</label>
              <select id="no_of_guests">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </p>
            <p>
              <label for="reservation_date">Reservation date:</label>
              <input type="date" value="2024-01-01" id="reservation_date"/>
            </p>
      
            <p>
              <label for="reservation_slot">Reservation time:</label>
              <select id="reservation_slot">
                <option value="0" disabled>Select time</option>
              </select>
            </p>
            <button type="button" id="button">Reserve</button>
          </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <h2>Bookings For <span id="today"></span></h2>
        <div id="bookings">
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
<script>

  // Function to get bookings
  let date = new Date()
  reservation_date = document.getElementById('reservation_date')
  reservation_date.onchange = function(){getBookings()}
  reservation_date.value = date.getFullYear() +"-"+ (date.getMonth() + 1).toString().padStart(2, "0")+ "-"+ date.getDay().toString().padStart(2, "0")
  console.log(reservation_date.value)
  getBookings()

  function getBookings() {
    let reserved_slots = []
    date = document.getElementById('reservation_date').value
    document.getElementById('today').innerHTML = date
    

    fetch("{% url 'bookings' %}" + '?date=' + date)
      .then(r => r.json())
      .then(data => {
        reserved_slots_ID = document.getElementById('reservation_slot')
        bookings = ''
        
        for (let i =0; i < data.length; i++){
          let item = data[i];
          console.log(item.fields);
          reserved_slots.push(item.fields.reservation_slot)
          bookings += '<p>'+item.fields.name+' - '+formatTime(item.fields.reservation_slot)+'</p>'
        }
        
        slot_options = '<option value="0" disabled>Select time</option>'
        for (let i = 10; i < 20; i++){
          let label = formatTime(i);
          if (reserved_slots.includes(i) == true){
            slot_options += '<option value='+i+' disabled>'+label+'</option>'
          }
          else {
            slot_options += '<option value='+i+'>'+label+'</option>'
          }
        }
        
        reserved_slots_ID.innerHTML = slot_options
        if(bookings==''){
          bookings = "No bookings"
        }
        document.getElementById('bookings').innerHTML = bookings
      })
  }
// Function to format time
  function formatTime(time) {
    const ampm = time < 12 ? 'AM' : 'PM'
    const t = time < 12 ? time : time > 12 ? time - 12 : time
    const label = `${t} ${ampm}`
    return label
  }

// Function to make a reservation
  document.getElementById('button').addEventListener('click', function (e) {
    const formdata = {
      name: document.getElementById('name').value,
      no_of_guests: document.getElementById('no_of_guests').value,
      reservation_date: document.getElementById('reservation_date').value,
      reservation_slot: document.getElementById('reservation_slot').value,
    }

    fetch("{% url 'bookings' %}", { method: 'post', body: JSON.stringify(formdata) })
      .then(r => r.text())
      .then(data => {
        getBookings()
      })
  })
</script>
{% endblock %}

